{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

<script>

class PayeForm {

    // input
    constructor(){

        this.class = '<div class="form-group">'
        ///// Input info about user for payement ////////
        //////////////////////
        this.name = document.createElement('input');
        this.firstname = document.createElement('input');
        this.city = document.createElement('input');
        this.addr = document.createElement('input');
        this.cp = document.createElement('input');
        //////////////////////////////////////



        this.div_content = $('#content_paye');

    }

    InitStyleCss(){

        this.name.classList.add("form-control");
        this.name.setAttribute("type", "text");
        this.name.setAttribute("name", "name");
        this.name.placeholder = "Name";
        this.name.style.width = "70%";

        this.firstname.classList.add("form-control");
        this.firstname.setAttribute("type", "text");
        this.firstname.setAttribute("name", "firstname");
        this.firstname.placeholder = "Firstname";
        this.firstname.style.width = "70%";

        this.city.classList.add("form-control");
        this.city.setAttribute("type", "text");
        this.city.setAttribute("name", "city");
        this.city.placeholder = "Ville";
        this.city.style.width = "70%";

        this.addr.classList.add("form-control");
        this.addr.setAttribute("type", "text");
        this.addr.setAttribute("name", "addr");
        this.addr.placeholder = "Adresse";
        this.addr.style.width = "70%";

        this.cp.classList.add("form-control");
        this.cp.setAttribute("type", "text");
        this.cp.setAttribute("name", "cp");
        this.cp.placeholder = "Code Postal";
        this.cp.style.width = "70%";


      

    }

    PhoneCSS(){

        this.name.style.width = "100%";
        this.firstname.style.width = "100%";
        this.city.style.width = "100%";
        this.addr.style.width = "100%";
        this.cp.style.width = "100%";

    }
   

    getName(){
        return $(this.name);
    }

    getFirstname(){
        return $(this.firstname);
    }

    getCity(){
        return $(this.city);
    }

    getCp(){
        return $(this.cp);
    }

    getAddr(){
        return $(this.addr);
    }


    InitToDOM(){

        $(this.div_content).append(
            $(this.class).append(this.name) , 
            $(this.class).append(this.firstname) ,
            $(this.class).append(this.city) ,
            $(this.class).append(this.cp) ,
            $(this.class).append(this.addr) ,
        );

    }

    // check si les inputs sont remplis renvoie true ou false
    // true , tous remplis
    // false , manque certains

    DisabledBtn(){

        if( this.getName().val() != "" && this.getFirstname().val() != "" && this.getCity().val() != "" &&
            this.getCp().val() != "" && this.getAddr().val() != ""  ){

                return true;
        }

        return false;

    }

}


</script>


<br/>
<h5>Votre Panier d'articles</h5>

<div id="panier_darticles" style="margin:0 auto">
    <div class="line"></div>
<br/>

{% for product in user_panier %}

<div class="shadow_product" id="product_{{ product.name }}" style="margin:20px;padding:10px;display: flex;">

    <img style="width:60px" src="{{asset('build/images/product/') ~ product.img }}"> 
    <div style="margin-left:15px;width:100%">
        <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 np-r" style="padding-right: 0px">
                    <span>Article : <strong>{{ product.name }}</strong> &nbsp;</span>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 np-r" style="padding-right: 0px">
                    <span >Prix unitaire : <strong>{{ product.price }} €</strong> &nbsp;</span>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 np-r">
                <span>
                        {% if product.count  == 1 %}
                            Nombre d'article
                        {% else %}
                            Nombre d'articles
                        {% endif %}

                        : <strong>{{ product.count }}</strong> &nbsp;</span>

                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 np-r" style="padding-right: 0px">
                <span >Coûts totaux : <strong>{{ product.cost }} €</strong> &nbsp;</span>
                </div>
    
        </div>

            <div id="add_remove_product" style="color:white;display: flex;float: right;">

                <form method="post" action="added_product/{{ product.id}}" style="float:right">
                    <button class="added_product" type="submit">+</button>
                </form>

                
                <form style="margin-left:5px;float:right" method="post" action="remove_product/{{ product.id}}">
                    <button class="remove_product" type="submit">-</button>
                </form>

            </div>
                       
     </div>

</div>


{% endfor %}

<div>
    <p style="margin-top:40px" class="shadow_product ttc"> TTC : {{ TTC }} € </p>
</div>
<div>
    {% if user_panier %}
    
        <p data-toggle="modal" data-target="#exampleModal" id="paye_product" style="margin-top:40px;margin-right:10px;cursor:pointer" class="shadow_product ttc">Payer</p>

    {% endif %}
</div>


<!-- Modal paye -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div id="progress">
        </div>

        <div id="content_paye">
            <h6 id="title_paye_content">Remplir les champs :</h6>

        </div>

        <div class="categorie_back" id="display_montant"  style="background-color:#007bff;">
           <p style="padding:5px"> Coût total :  {{ TTC }} € </p>
        </div>


      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="info"  value='0' class="btn btn-primary" disabled>Suivant</button>
      </div>
    </div>
  </div>
</div>

</div>

    <script>

    
    /// btn form payement  Value info
    // 0 = data bout user
    // 1 = go to payement


    // init to dom form info to user ///
    let formPaye = new PayeForm();
    formPaye.InitToDOM();
    formPaye.InitStyleCss();
    ////////////////////////

    var isMobile = (/Mobile/i.test(navigator.userAgent));

    if(isMobile){
       formPaye.PhoneCSS();        

    }


    let paye = $('#info');

  

    //// REGEX /////////////
    let letters = /^[A-Za-z]+$/;
    let lettersSpace = /^[A-Za-z ]+$/;
    let cp_r = /^[0-9]{5,5}$/;
    let addr_r = /[A-Za-z0-9 ]/;
    /////////////


    // evenement sur les inputs à chaque click sur les inputs du formulaire si tous les inputs sont rempli, on remove l'attr disabled du btn form payement 
    $("input").change(function () {
        console.log('focus input');
        let disabled = formPaye.DisabledBtn();

        console.log(disabled);

        // if disabeld true remove attr disabled of button
        if(disabled){
            $(paye).removeAttr("disabled");
        }

    });


    $(paye).click(function(e){

        // get error form about user info and user payement info
        let errorForm_userData = [];
           
        
        let name = formPaye.getName();
        let firstname = formPaye.getFirstname();
        let city = formPaye.getCity();
        let cp = formPaye.getCp();
        let addr = formPaye.getAddr();

        let arrayForm = [name,firstname,city,cp,addr];

        $('smal').remove();

        function addErrorForm(input,msg){

                errorForm_userData.push([
                    {
                        'input' : input,
                        'msg' : msg
                    }
                ]);

        }

        if($(paye).attr('value') === "0"){
           
                for(var i = 0; i < arrayForm.length; i ++){

                    let value = arrayForm[i].val();
                    let input = arrayForm[i];

                    input = $(input).attr('name').toLowerCase();

                    // check variable give bool if input prototype test is true or false
                    let check;
                    // error msg display in dom to input
                    let small = document.createElement('smal');
                    $(small).attr('id',$(input).attr('name'));
                    small.classList.add("form-text");


                    small.style.color = "red";


                    $(`input[name="${input}"`).css('border','');

                    //if check is false error by regex 
                    // else true np


                    switch (input) {


                                case 'name':

                                    if(value === ""){
                                            small.textContent = "Le champ est vide";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(input,'Le champ est vide');
                                            break;
                                    }
                                
                                    check = letters.test(value);
                                    
                                    if(!check){
                                            small.textContent = "Le champ contient une erreur";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(input,'Le champ contient une erreur');
                                            break;
                                    }

                                    $(`input[name="${input}"`).css('border','1px solid green');
                                    
                                    
                                    break;

                                case 'firstname':

                                    if(value === ""){
                                                small.textContent = "Le champ est vide";
                                                $(`input[name="${input}"`).after( small );
                                                $(`input[name="${input}"`).css('border','1px solid red');
                                                addErrorForm(input,'Le champ est vide'); 
                                                break;
                                    }

                                        check = letters.test(value);
                                    
                                        if(!check){
                                            small.textContent = "Le champ contient une erreur";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(input,'Le champ contient une erreur');
                                            break;
                                        }

                                        $(`input[name="${input}"`).css('border','1px solid green');
                                    

                                    break;
                                case 'city':

                                if(value === ""){
                                            small.textContent = "Le champ est vide";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(input,'Le champ est vide');
                                            break;
                                    }

                                        check = lettersSpace.test(value);
                                        
                                        if(!check){
                                            small.textContent = "Le champ contient une erreur";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(input,'Le champ contient une erreur');
                                            break;
                                        }

                                        $(`input[name="${input}"`).css('border','1px solid green');
                                
                                    break;

                                case 'addr':

                                if(value === ""){
                                            small.textContent = "Le champ est vide";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(input,'Le champ est vide');
                                            break;
                                    }

                                        check = addr_r.test(value);
                                        
                                        if(!check){
                                            small.textContent = "Le champ contient une erreur";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(input,'Le champ contient une erreur');
                                            break;
                                        }

                                        $(`input[name="${input}"`).css('border','1px solid green');
                                
                                    break;
                                case 'cp':

                                if(value === ""){
                                            small.textContent = "Le champ est vide";
                                        $(`input[name="${input}"`).after( small );
                                        $(`input[name="${input}"`).css('border','1px solid red');
                                        addErrorForm(input,'Le champ est vide');
                                            break;
                                    }

                                        check = cp_r.test(value);
                                        
                                        if(!check){
                                            small.textContent = "Le champ contient une erreur";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(input,'Le champ contient une erreur'); 
                                            break;
                                        }

                                        $(`input[name="${input}"`).css('border','1px solid green');
                                
                                    break;
                            
                                
                            }
                    
                                    


                }

        
        }


        // if no error in array pass to payement method
        if(errorForm_userData.length === 0){

           $(paye).attr('value','1');

           // remove all inputs about user data ( 0 )
           // go to input payement ( 1 )
           $('.modal-dialog input').fadeOut(2500, function(){ $('.modal-dialog .form-group').remove(); });


        }


    })



    </script>



{% endblock %}
