{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

<script>

class PayeForm {

    // input
    constructor(){

        this.class = '<div class="form-group">';

        ///// Input info about user for payement ////////
        //////////////////////
        this.name = document.createElement('input');
        this.firstname = document.createElement('input');
        this.city = document.createElement('input');
        this.addr = document.createElement('input');
        this.cp = document.createElement('input');
        //////////////////////////////////////


        //// Input for payement cb info //////
        this.numbercode = document.createElement('input');
        this.expireMonth =  document.createElement('input');
        this.expireYears =  document.createElement('input');
        /// code est les 3 chiffres de la carte
        this.code =  document.createElement('input');
        // csrf
        this.csrf = document.createElement('input');
        //img cb 
        this.imgCb = document.createElement('img');


        ///// loader ////////
        this.loader = document.createElement('img');
        this.succes = document.createElement('img');
        // text for loader
        this.txt = document.createElement('p');
        //////////////////

        //////////////////////////////////////

        this.div_content = $('#content_paye');

    }

    InitStyleCss(){

        this.name.classList.add("form-control");
        this.name.setAttribute("type", "text");
        this.name.setAttribute("name", "name");
        this.name.placeholder = "Name";
        this.name.style.width = "70%";

        this.firstname.classList.add("form-control");
        this.firstname.setAttribute("type", "text");
        this.firstname.setAttribute("name", "firstname");
        this.firstname.placeholder = "Firstname";
        this.firstname.style.width = "70%";

        this.city.classList.add("form-control");
        this.city.setAttribute("type", "text");
        this.city.setAttribute("name", "city");
        this.city.placeholder = "Ville";
        this.city.style.width = "70%";

        this.addr.classList.add("form-control");
        this.addr.setAttribute("type", "text");
        this.addr.setAttribute("name", "addr");
        this.addr.placeholder = "Adresse";
        this.addr.style.width = "70%";

        this.cp.classList.add("form-control");
        this.cp.setAttribute("type", "text");
        this.cp.setAttribute("name", "cp");
        this.cp.placeholder = "Code Postal";
        this.cp.style.width = "70%";


        this.numbercode.classList.add("form-control");
        this.numbercode.setAttribute("type", "number");
        this.numbercode.setAttribute("name", "numbercode");
        this.numbercode.placeholder = "Numéro de la carte";
        this.numbercode.style.width = "70%";
        this.numbercode.style.margin = "10px";
        

        this.expireMonth.classList.add("form-control");
        this.expireMonth.setAttribute("type", "number");
        this.expireMonth.setAttribute("name", "expiremonth");
        this.expireMonth.placeholder = "Mois";
        this.expireMonth.style.width = "70%";
        this.expireMonth.style.margin = "10px";

        this.expireYears.classList.add("form-control");
        this.expireYears.setAttribute("type", "number");
        this.expireYears.setAttribute("name", "expireyears");
        this.expireYears.placeholder = "Années";
        this.expireYears.style.width = "70%";
        this.expireYears.style.margin = "10px";

        this.code.classList.add("form-control");
        this.code.setAttribute("type", "number");
        this.code.setAttribute("name", "cryptogramme");
        this.code.placeholder = "3 chiffres";
        this.code.style.width = "70%";
        this.code.style.margin = "10px";

        this.imgCb.setAttribute("src", "{{ asset("build/images/logo-cb.jpg") }}");
        this.imgCb.style.width = "100px";

        this.csrf.setAttribute("type","hidden");
        this.csrf.setAttribute("name", "_csrf_token");
        this.csrf.setAttribute("value", "{{ csrf_token('payement') }}");


        this.loader.setAttribute("src", "{{ asset("build/images/loader.gif") }}");
        this.loader.setAttribute('id' , 'loader');
        this.loader.classList.add("loader");

        this.succes.setAttribute("src", "{{ asset("build/images/succes.png") }}");
        this.succes.setAttribute('id' , 'succes');
        this.succes.classList.add("loader");
        this.succes.style.marginBottom = "50px";

        this.txt.style.textAlign = "center";
        this.txt.style.marginBottom = "50px";


    }

    PhoneCSS(){

        this.name.style.width = "100%";
        this.firstname.style.width = "100%";
        this.city.style.width = "100%";
        this.addr.style.width = "100%";
        this.cp.style.width = "100%";
        
        this.numbercode.style.width = "100%";
        this.expireMonth.style.width = "100%";
        this.expireYears.style.width = "100%";  
        this.code.style.width = "100%"; 

    }

    getTxt(){
        return $(this.txt);
    }

    getSucces(){
        return $(this.succes);
    }
    getCsrf(){
        return $(this.csrf);
    }
   

    getLoader(){

        return $(this.loader);
    }

    getName(){
        return $(this.name);
    }

    getImgCb(){
        return $(this.imgCb);
    }

    getFirstname(){
        return $(this.firstname);
    }

    //append to class form-group
    getClass(){

        return $(this.class);
    }

    getCity(){
        return $(this.city);
    }

    getCp(){
        return $(this.cp);
    }

    getAddr(){
        return $(this.addr);
    }

    getNumberCode(){
        return $(this.numbercode);
    }

    getExpireMonth(){
        return $(this.expireMonth);
    }

    getExpireYears(){
        return $(this.expireYears);
    }

    getCode(){
        return $(this.code);
    }


   // init form about user info
    InitToDOM(){
        //init for about user info
        $(this.div_content).append(
            $(this.class).append(this.name) , 
            $(this.class).append(this.firstname) ,
            $(this.class).append(this.city) ,
            $(this.class).append(this.cp) ,
            $(this.class).append(this.addr) ,
        );

    }

    //init about payement user info
    InitCBToDOM(){
     
           
        $(this.div_content).append(
            this.imgCb,
            this.numbercode , 
            this.expireMonth ,
            this.expireYears ,
            this.code,this.csrf
        );

    }

    ParentDiv(){
        
        return $(this.div_content);
    }

    // check si les inputs sont remplis renvoie true ou false
    // true , tous remplis
    // false , manque certains

    DisabledBtn(){

        if( this.getName().val() != "" && this.getFirstname().val() != "" && this.getCity().val() != "" &&
            this.getCp().val() != "" && this.getAddr().val() != ""  ){

                return true;
        }

        return false;

    }

}


</script>


<br/>
<h5>Votre Panier d'articles</h5>

<div id="panier_darticles" style="margin:0 auto">
    <div class="line"></div>
<br/>

{% for product in user_panier %}

<div class="shadow_product" id="product_{{ product.name }}" style="margin:20px;padding:10px;display: flex;">

    <img style="width:60px" src="{{asset('build/images/product/') ~ product.img }}"> 
    <div style="margin-left:15px;width:100%">
        <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 np-r" style="padding-right: 0px">
                    <span>Article : <strong>{{ product.name }}</strong> &nbsp;</span>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 np-r" style="padding-right: 0px">
                    <span >Prix unitaire : <strong>{{ product.price }} €</strong> &nbsp;</span>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 np-r">
                <span>
                        {% if product.count  == 1 %}
                            Nombre d'article
                        {% else %}
                            Nombre d'articles
                        {% endif %}

                        : <strong>{{ product.count }}</strong> &nbsp;</span>

                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 np-r" style="padding-right: 0px">
                <span >Coûts totaux : <strong>{{ product.cost }} €</strong> &nbsp;</span>
                </div>
    
        </div>

            <div id="add_remove_product" style="color:white;display: flex;float: right;">

                <form method="post" action="added_product/{{ product.id}}" style="float:right">
                    <button class="added_product" type="submit">+</button>
                </form>

                
                <form style="margin-left:5px;float:right" method="post" action="remove_product/{{ product.id}}">
                    <button class="remove_product" type="submit">-</button>
                </form>

            </div>
                       
     </div>

</div>


{% endfor %}

<div>
    <p style="margin-top:40px" class="shadow_product ttc"> TTC : {{ TTC }} € </p>
</div>
<div>
    {% if user_panier %}
    
        <p data-toggle="modal" data-target="#exampleModal" id="paye_product" style="margin-top:40px;margin-right:10px;cursor:pointer" class="shadow_product ttc">Payer</p>

    {% endif %}
</div>


<!-- Modal paye -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div id="progress">
        </div>

        <div id="content_paye">
            <h6 id="title_paye_content">Remplir les champs :</h6>

        </div>

        <div class="categorie_back" id="display_montant"  style="background-color:#007bff;">
           <p style="padding:5px"> Coût total :  {{ TTC }} € </p>
        </div>


      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="info"  value='0' class="btn btn-primary" disabled>Suivant</button>
      </div>
    </div>
  </div>
</div>

</div>

    <script>

    
    /// btn form payement  Value info
    // 0 = data bout user
    // 1 = go to payement


    // init to dom form info to user ///
    let formPaye = new PayeForm();
    formPaye.InitToDOM();
    formPaye.InitStyleCss();
    ////////////////////////

    var isMobile = (/Mobile/i.test(navigator.userAgent));

    if(isMobile){
       formPaye.PhoneCSS();        

    }


    let paye = $('#info');

  

    //// REGEX /////////////
    let letters = /^[A-Za-z]+$/;
    let lettersSpace = /^[A-Za-z ]+$/;
    let cp_r = /^[0-9]{5,5}$/;
        // credit card number
    let int_card_r = /^[0-9]{16,16}$/;
        // credit card month
    let int_month_r = /^[0-9]{2,2}$/;
        // credit card years
    let int_years_r = /^[0-9]{2,2}$/;
        // credit card cryptogramme
    let int_crypto_r = /^[0-9]{3,3}$/;

    // just int
    let int_r = /[0-9]/;
    // addresse
    let addr_r = /[A-Za-z0-9 ]/;
    /////////////


    // evenement sur les inputs à chaque click sur les inputs du formulaire si tous les inputs sont rempli, on remove l'attr disabled du btn form payement 
    $("input").change(function () {
        console.log('focus input');
        let disabled = formPaye.DisabledBtn();

        console.log(disabled);

        // if disabeld true remove attr disabled of button
        if(disabled){
            $(paye).removeAttr("disabled");
        }

    });


    $(paye).click(function(e){

        // get error form about user info
        let errorForm_userData = [];
        // get error form about user payement info
        let errorForm_userPayementData = [{

            "selectCard" : true
            
            
        }];
           
        
        let name = formPaye.getName();
        let firstname = formPaye.getFirstname();
        let city = formPaye.getCity();
        let cp = formPaye.getCp();
        let addr = formPaye.getAddr();

        let arrayForm = [name,firstname,city,cp,addr];


        function addErrorForm(array,input,msg){

                array.push([
                    {
                        'input' : input,
                        'msg' : msg
                    }
                ]);

        }

        if($(paye).attr('value') === "0"){

            $('smal').remove();

            console.log('---- 0');
            $('#title_paye_content').text('Remplir les champs :');
           
                for(var i = 0; i < arrayForm.length; i ++){

                    let value = arrayForm[i].val();
                    let input = arrayForm[i];

                    input = $(input).attr('name').toLowerCase();

                    // check variable give bool if input prototype test is true or false
                    let check;
                    // error msg display in dom to input
                    let small = document.createElement('smal');
                    $(small).attr('id',$(input).attr('name'));
                    small.classList.add("form-text");
                    small.style.color = "red";
                    $(`input[name="${input}"`).css('border','');

                    //if check is false error by regex 
                    // else true np


                    switch (input) {


                                case 'name':

                                    if(value === ""){
                                            small.textContent = "Le champ est vide";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userData,input,'Le champ est vide');
                                            break;
                                    }
                                
                                    check = letters.test(value);
                                    
                                    if(!check){
                                            small.textContent = "Le champ contient une erreur";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userData,input,'Le champ contient une erreur');
                                            break;
                                    }

                                    $(`input[name="${input}"`).css('border','1px solid green');
                                    
                                    
                                    break;

                                case 'firstname':

                                    if(value === ""){
                                                small.textContent = "Le champ est vide";
                                                $(`input[name="${input}"`).after( small );
                                                $(`input[name="${input}"`).css('border','1px solid red');
                                                addErrorForm(errorForm_userData,input,'Le champ est vide'); 
                                                break;
                                    }

                                        check = letters.test(value);
                                    
                                        if(!check){
                                            small.textContent = "Le champ contient une erreur";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userData,input,'Le champ contient une erreur');
                                            break;
                                        }

                                        $(`input[name="${input}"`).css('border','1px solid green');
                                    

                                    break;
                                case 'city':

                                if(value === ""){
                                            small.textContent = "Le champ est vide";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userData,input,'Le champ est vide');
                                            break;
                                    }

                                        check = lettersSpace.test(value);
                                        
                                        if(!check){
                                            small.textContent = "Le champ contient une erreur";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userData,input,'Le champ contient une erreur');
                                            break;
                                        }

                                        $(`input[name="${input}"`).css('border','1px solid green');
                                
                                    break;

                                case 'addr':

                                if(value === ""){
                                            small.textContent = "Le champ est vide";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userData,input,'Le champ est vide');
                                            break;
                                    }

                                        check = addr_r.test(value);
                                        
                                        if(!check){
                                            small.textContent = "Le champ contient une erreur";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userData,input,'Le champ contient une erreur');
                                            break;
                                        }

                                        $(`input[name="${input}"`).css('border','1px solid green');
                                
                                    break;
                                case 'cp':

                                if(value === ""){
                                            small.textContent = "Le champ est vide";
                                        $(`input[name="${input}"`).after( small );
                                        $(`input[name="${input}"`).css('border','1px solid red');
                                        addErrorForm(errorForm_userData,input,'Le champ est vide');
                                            break;
                                    }

                                        check = cp_r.test(value);
                                        
                                        if(!check){
                                            small.textContent = "Le champ contient une erreur";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userData,input,'Le champ contient une erreur'); 
                                            break;
                                        }

                                        $(`input[name="${input}"`).css('border','1px solid green');
                                
                                    break;
                            
                                
                            }
                    
                                    


                }

            if(errorForm_userData.length === 0){
                  $('.modal-dialog input').fadeOut(1500, function(){ $('.modal-dialog .form-group').remove(); });
            }
        
        }


        // if no error in array pass to payement method
        if(errorForm_userData.length === 0){

          $('#title_paye_content').text('Choisir un mode de payement  :');

           $(paye).attr('value','1');

           $(paye).text('Payer');

           // remove all inputs about user data ( 0 )
           // go to input payement ( 1 )
         
           formPaye.InitCBToDOM();

  

        if($(paye).attr('value') === "1"){

           


                    $('smal').remove();

                    console.log('enter')

                    let num = formPaye.getNumberCode();
                    let expir_m = formPaye.getExpireMonth();
                    let expir_y = formPaye.getExpireYears();
                    let cd = formPaye.getCode();
                 

                    let arrayFormCB = [num , expir_m , expir_y , cd ];

                    for(var i = 0; i < arrayFormCB.length; i ++){
                     
                        let value = arrayFormCB[i].val();
                        let input = arrayFormCB[i];

                        input = $(input).attr('name').toLowerCase();

                        // check variable give bool if input prototype test is true or false
                        let check;
                        // error msg display in dom to input
                        let small = document.createElement('smal');
                        $(small).attr('id',$(input).attr('name'));
                        small.classList.add("form-text");
                        small.style.color = "red";
                        $(`input[name="${input}"`).css('border','');

                        
                        //if check is false error by regex 
                        // else true np
                        switch (input) {
                                
                                case 'numbercode':
                                    if(value === ""){
                                            small.textContent = "Le champ est vide";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userPayementData,input,'Le champ est vide');
                                            break;
                                    }
                                
                                    check = int_card_r.test(value);
                                  
                                    
                                    if(!check){
                                            small.textContent = "Le champ doit contenir 16 chiffres";
                                            $(`input[name="${input}"`).after( small);
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userPayementData,input,'Le champ contient une erreur');
                                            break;
                                    }

                                    $(`input[name="${input}"`).css('border','1px solid green');
                                    
                                    
                                    break;

                                case 'expiremonth':
                                  
                                    if(value === ""){
                                     
                                            small.textContent = "Le champ est vide";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userPayementData,input,'Le champ est vide');
                                            break;
                                    }
                         
                                    check = int_month_r.test(value);
                                 
                                    
                                    if(!check){
                                            small.textContent = "Le champ doit contenir 2 chiffres";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userPayementData,input,'Le champ contient une erreur');
                                            break;
                                    }

                                    

                                    if(value < 1 || value > 12){
                                            small.textContent = "Le mois est faux";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userPayementData,input,'Le mois est faux');
                                            break;
                                    }

                                    $(`input[name="${input}"`).css('border','1px solid green');
                                    
                                    
                                    break;

                                case 'expireyears':
                                  
                                    if(value === ""){
                                        console.log('***********')
                                            small.textContent = "Le champ est vide";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userPayementData,input,'Le champ est vide');
                                            break;
                                    }
                                
                                    check = int_years_r.test(value);
                                   
                                    
                                    if(!check){
                                            small.textContent = "Le champ doit contenir 2 chiffres";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userPayementData,input,'Le champ contient une erreur');
                                            break;
                                    }


                                    var d = new Date();
                                    var n = d.getFullYear();
                                    var t = n.toString()
                                    n = t[2] + t[3];
                                    n = parseInt(n);

                                    function r(int){
                                         if(value >= n  || value < n + 5){
                                            console.log('date fausseeeeeeeeee')
                                         }
                                    }

                                    if(value < n  || value > n + 5){
                                            small.textContent = `L'année est fausse (min : ${t} / max : ${n + 5} )`;
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userPayementData,input,'Le mois est faux');
                                            break;
                                    }

                                    $(`input[name="${input}"`).css('border','1px solid green');
                                    
                                    
                                    break;

                                case 'cryptogramme':
                                 
                                    if(value === ""){
                                        console.log('***********')
                                            small.textContent = "Le champ est vide";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userPayementData,input,'Le champ est vide');
                                            break;
                                    }
                                
                                    check = int_crypto_r.test(value);
                                    
                                    
                                    if(!check){
                                            small.textContent = "Le champ doit contenir 3 chiffres";
                                            $(`input[name="${input}"`).after( small );
                                            $(`input[name="${input}"`).css('border','1px solid red');
                                            addErrorForm(errorForm_userPayementData,input,'Le champ contient une erreur');
                                            break;
                                    }

                                    $(`input[name="${input}"`).css('border','1px solid green');
                                    
                                    
                                    break;
                        }
                    }


                 // if no error in array errorForm_userPayementData and errorForm_userData and selectCard is true post in db
                    // else error
                    console.log(errorForm_userData)
                    console.log(errorForm_userPayementData)
                    if(errorForm_userData.length === 0 && errorForm_userPayementData.length === 1 ){
                        console.log('post data in DB');
                        console.log(errorForm_userPayementData);


                        $.ajax({
                                method: "POST",
                                url: "/payement",
                                dataType: "json",
                                data: {
                                    'name' : formPaye.getName().val(),
                                    'firstname' : formPaye.getFirstname().val(),
                                    'city' : formPaye.getCity().val(),
                                    'cp' : formPaye.getCp().val(),
                                    'addr' : formPaye.getAddr().val(),
                                    'number_code' : formPaye.getNumberCode().val(),
                                    'expire_m' : formPaye.getExpireMonth().val(),
                                    'expire_y' : formPaye.getExpireYears().val(),
                                    'crypto' : formPaye.getCode().val(),
                                    '_csrf_token' : formPaye.getCsrf().val(),
                                },
                                success: function(data){
                                    
                                                                  
                                    if(data.buy){
                                        let div = formPaye.ParentDiv();
                                        $(div).empty();

                                        let loader = formPaye.getLoader();
                                        let txt = formPaye.getTxt();
                                        let succes = formPaye.getSucces();

                                        $(div).append(loader);

                                        
                                        // l'animation va durer 7 secondes
                                        let time = 0;

                                        setInterval(function(){

                                            time = time + 1;

                                            if(time === 1 ){
                                                
                                                $(div).append($(txt).text('Chargement de votre commande .'));
                                            }

                                            if(time === 2 ){
                                                $(div).append($(txt).text('Chargement de votre commande ..'));
                                            }

                                            if(time === 3 ){
                                                 $(div).append($(txt).text('Chargement de votre commande ...'));
                                            }

                                            if(time === 4 ){
                                               $(div).append( $(txt).text('Votre commande a été validée') );
                                            }

                                            if(time === 6 ){
                                                $(loader).remove();
                                                $(txt).remove();
                                                $(div).append(succes);
                                            }

                                            if( time === 7 ){
                                                window.location.reload();
                                            }


                                        }, 1000)


                                    }else{
                                        console.log("error d'achat")
                                        let p = $('<p style="color:red">Une erreur s\'est produite, la page va être réactualisée</p>')
                                        $('#content_paye').append(p);

                                        setTimeout(function(){
                                            window.location.reload();
                                        },2500)
                                    }
                                
                                },
                                error: function(xhr, status, error){
                                    console.log(xhr, status, error);
                                }
                        });


                    }



        }


        }


                  

    })



    </script>



{% endblock %}
