{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
<br/>


<div id="div_inscription" style="width:50%;margin:0 auto;margin-top:20px">
    <h3>Inscription</H3>

              
    {{ form_start(form, {'attr': {'class': 'form_login'}}) }}

    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}
    
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
               {% if (errors|length > 0) %}
                   {% set find = false %}
                   {% for error in errors %}
                                    {% if error.input|lower == "username" %}
                                      {% set find = true %}
                                    {% endif %}
                    {% endfor %}

                    {% if find == true %}
                              {{ form_widget(form.username, {'attr': {'class': 'form-control error_input','id': 'input_username'} }) }}
                    {% else %}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control succes_input','id': 'input_username'} }) }}
                    {% endif %}

               {% else %}
                   {{ form_widget(form.username, {'attr': {'class': 'form-control','id': 'input_username'} }) }}
               {% endif %}
              
               {% if (errors|length > 0) %}
                            <small id="emailHelp"  class="form-text" style="color:red">
                            {% for error in errors %}
                                    {% if error.input|lower == "username" %}
                               
                                            {% if (error|length == "3") %}
                                                <li> <span> {{ error.input }} : {{ error.msg }} , {{ error.other }}, 
                                            {% endif %}

                                            {% if (error|length == "2") %}
                                                <li> <span> {{ error.input }} : {{ error.msg }}  
                                            {% endif %}

                                    {% endif %}

                            </span> </Li>
                            {% endfor %}
                    </small>
               {% endif %}
         
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
              {% if (errors|length > 0) %}
                   {% set find = false %}
                   {% for error in errors %}
                                    {% if error.input|lower == "name" %}
                                      {% set find = true %}
                                    {% endif %}
                    {% endfor %}

                    {% if find == true %}
                              {{ form_widget(form.name, {'attr': {'class': 'form-control error_input','id': 'input_name'} }) }}
                    {% else %}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control succes_input','id': 'input_name'} }) }}
                    {% endif %}

               {% else %}
                   {{ form_widget(form.name, {'attr': {'class': 'form-control','id': 'input_name'} }) }}
               {% endif %}
              
               {% if (errors|length > 0) %}
                            <small id="emailHelp"  class="form-text" style="color:red">
                            {% for error in errors %}
                                    {% if error.input|lower == "name" %}
                               
                                            {% if (error|length == "3") %}
                                                <li> <span> {{ error.input }} : {{ error.msg }} , {{ error.other }}, 
                                            {% endif %}

                                            {% if (error|length == "2") %}
                                                <li> <span> {{ error.input }} : {{ error.msg }}  
                                            {% endif %}

                                    {% endif %}

                            </span> </Li>
                            {% endfor %}
                    </small>
               {% endif %}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
             {% if (errors|length > 0) %}
                   {% set find = false %}
                   {% for error in errors %}
                                    {% if error.input|lower == "email" %}
                                      {% set find = true %}
                                    {% endif %}
                    {% endfor %}

                    {% if find == true %}
                              {{ form_widget(form.email, {'attr': {'class': 'form-control error_input','id': 'input_email'} }) }}
                    {% else %}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control succes_input','id': 'input_email'} }) }}
                    {% endif %}

            {% else %}
                   {{ form_widget(form.email, {'attr': {'class': 'form-control','id': 'input_email'} }) }}
            {% endif %}
              
               {% if (errors|length > 0) %}
                            <small id="emailHelp"  class="form-text" style="color:red">
                            {% for error in errors %}
                                    {% if error.input|lower == "email" %}
                               
                                            {% if (error|length == "3") %}
                                                <li> <span> {{ error.input }} : {{ error.msg }} , {{ error.other }}, 
                                            {% endif %}

                                            {% if (error|length == "2") %}
                                                <li> <span> {{ error.input }} : {{ error.msg }}  
                                            {% endif %}

                                    {% endif %}

                            </span> </Li>
                            {% endfor %}
                    </small>
               {% endif %}
        </div>

        <div class="form-group">
              <label for="exampleInputEmail1">Password</label>
                {% if (errors|length > 0) %}
                   {% set find = false %}
                   {% for error in errors %}
                                    {% if error.input|lower == "password" %}
                                      {% set find = true %}
                                    {% endif %}
                    {% endfor %}

                    {% if find == true %}
                              {{ form_widget(form.password, {'attr': {'class': 'form-control error_input','id': 'input_password'} }) }}
                    {% else %}
                        {{ form_widget(form.password, {'attr': {'class': 'form-control succes_input','id': 'input_password'} }) }}
                    {% endif %}

                {% else %}
                   {{ form_widget(form.password, {'attr': {'class': 'form-control','id': 'input_password'} }) }}
                {% endif %}
            
              
               {% if (errors|length > 0) %}
                            <small id="emailHelp"  class="form-text" style="color:red">
                            {% for error in errors %}
                                    {% if error.input|lower == "password" %}
                               
                                            {% if (error|length == "3") %}
                                                <li> <span> {{ error.input }} : {{ error.msg }} , {{ error.other }}, 
                                            {% endif %}

                                            {% if (error|length == "2") %}
                                                <li> <span> {{ error.input }} : {{ error.msg }}  
                                            {% endif %}

                                    {% endif %}

                            </span> </Li>
                            {% endfor %}
                    </small>
               {% endif %}
        </div>
     
        <div class="form-group"> 
           <label for="exampleInputEmail1">Same Password</label>
             {% if (errors|length > 0) %}
                   {% set find = false %}
                   {% for error in errors %}
                                    {% if error.input|lower == "password" %}
                                      {% set find = true %}
                                    {% endif %}
                    {% endfor %}

                    {% if find == true %}
                              {{ form_widget(form.same_password, {'attr': {'class': 'form-control error_input','id': 'input_same_password'} }) }}
                    {% else %}
                        {{ form_widget(form.same_password, {'attr': {'class': 'form-control succes_input','id': 'input_same_password'} }) }}
                    {% endif %}

                {% else %}
                   {{ form_widget(form.same_password, {'attr': {'class': 'form-control','id': 'input_same_password'} }) }}
                {% endif %}
              
               {% if (errors|length > 0) %}
                            <small id="emailHelp"  class="form-text" style="color:red">
                            </small>
               {% endif %}
        </div>
        

        <button type="submit" class="btn btn-primary">Register!</button>

    {{ form_end(form) }}
</div>



<script>

    var isMobile = (/Mobile/i.test(navigator.userAgent));

    if(isMobile){
        console.log('mobile');
        let div = $('#div_inscription');

        $(div).css('width','100%');
    }




</script>




{% endblock %}
